<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>order</key>
		<dict/>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>order</key>
		<dict>
			<key>f89f18a8e5bb5d3d22604e3d347e6ade44b21c40058f4906a689f56f67171901</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
